<footer class = .footer>
    <hr>
    <div id="footer-content">
        <img id="csumb-logo" src="/img/CSUMBLogo_Circle.png" alt="CSUMB Logo"><br>
        <div>
            CST336: Internet Programming. 2024&copy; Tagdiwala <br>
            <strong>Disclaimer:</strong> The information on this webpage may be fictitious.<br>
            It is used for academic purposes only.
        </div>
    </div>
</footer>
<script src="/js/script.js"></script>